body {
}



.message {float:right;padding:4px;}
.message-info {background-color: #EFFFF1;border:1px solid green;}
.message-error {background-color: pink;border: 1px solid red;}

span.counter {
  float: left;
  background-color: #ddd;
  border-right: 1px dashed #aaa;
  color: #aaa;
  height: 100%;
  margin-right: 5px;
  padding: 0 2px;
  font-weight: bold;
}
form {width:800px;border:1px solid #aaa;padding:4px;margin:0 auto;background-color:#f5f5f5;}
form.form-edited {border-color:green;}
form.form-error {border-color:red;}
div.header, div.authors {
  float:left; width:50%;
}

label {
  display: block;
  padding: 2px;
  color: #aaa;
  font-weight: bold;
}
input, textarea {
  border: 1px solid #ddd;
  padding: 2px;
}
textarea {
  width: 350px;
  height: 50px;
  overflow: auto;
}

div.header {}
div.author {height:125px;background-color:#eee;margin:2px 0;}

